.main {
    text-align: center;
    list-style-position: inside;
    font-family: sans-serif, Georgia, Garamond;
}

.index {
    background-color: rgba(79, 154, 240, 0.5)
}

img {
    width: 450px;
    height: auto;
    margin: auto;

}

.list {
    font-weight: bold;
    list-style: none;
    padding: 0;
}

li {
    text-align: center;
    padding: 3px 0;
    margin: 0;
}

a {
    color: black;
}

.header {
    font-size: 70px;
}

.recipe-header {
    font-size: 45px;
}

h2 {
    font-size: 33px;
    margin: auto;
}

#steak {
    width: 500px;
    height: auto;
}

#Tso {
    width: 450px;
    height: auto;
}
