.main {
    text-align: center;
    list-style-position: inside;
    font-family: sans-serif, Georgia, Garamond;
}

.index {
    background-image: url(images/flat-lay-mozzarella-tomatoes-copy-space.jpg);
    background-size: 110%;
    background-position: center;
}

img {
    width: 550px;
    height: auto;
    margin-left: 20%;
}

.list {
    font-weight: bold;
    margin-left: 20%;
}

.header {
    font-size: 70px;
    margin-left: 20%;
}

.recipe-header {
    font-size: 45px;
}

h2 {
    font-size: 33px;
    margin-left: 20%;
}

#steak {
    width: 500px;
    height: auto;
}

#Tso {
    width: 450px;
    height: auto;
}
