.main {
    text-align: center;
    list-style-position: inside;
    font-family: sans-serif, Georgia, Garamond;
    box-sizing: border-box;
}

.layout-box-parm {
    height: 2260px;
    width: 750px;
    margin:auto;
    background-color:  rgba(138, 95, 118, 0.3)
}

.layout-box-steak {
    height: 1300px;
    width: 750px;
    margin:auto;
    background-color:  rgba(138, 95, 118, 0.3)
}

.layout-box-Tso
{
    height: 2430px;
    width: 750px;
    margin:auto;
    background-color:  rgba(138, 95, 118, 0.3)
}

.index {
    background-color: rgba(255, 174, 0, 0.5)

}

p {
    margin-right: 80px;
    margin-left: 80px;
}

img {
    width: 450px;
    height: auto;
    margin: auto;
}



.list {
    font-weight: bold;
    list-style: none;
}

li {
    padding: 5px 0;
    margin-left: 220px;
    margin-right: 110px;
    text-align: left;
}

#main_list {
    text-align: center;
    margin: 0;

} 

ol {
    margin-right: 70px;
    margin-left: 0px;
}

a {
    color: black;
}

.header {
    font-size: 70px;
}

.recipe-header {
    font-size: 45px;
    margin-top: 5px;
    padding-top: 25px;
}

h4 {
    text-decoration: underline;
}

h2 {
    font-size: 33px;
    margin: auto;
    margin-top: 30px;
}

#steak {
    width: 400px;
    height: auto;
    border: solid black 4px;
}

#Tso {
    width: 400px;
    height: auto;
    border: solid black 4px;
}

#parm {
    border: solid black 4px;
}

